body{
  margin: 0;
  font-family: poppins;
}
h1{
  text-align:center;
  padding: 50px 0 0 0;
}
#searchForm{
  text-align: center;
  width: 100vw;
  /* border: 1px solid black; */
}
#searchForm > input {
  width: 300px;
}
